body {
	background-color: yellow;
}

form[name="login"]::before {
    content: "Welcome to BMS Jenkins instance! For help, questions, or onboarding, you can create a case here: https://engit.cisco.com/case";
    background-color: yellow;
    color: red;
    font-weight: bold;
}